/* Підключення шрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Компоненти */
@import url("button.css");
/* .... */
@media (max-width: 768px);

/* Основні стилі */


.header-main {
	width: 100%;
	min-height: 70px;
	box-sizing: border-box;
	background-color: var(--primary-color);
	border: 1px solid grey;
	box-shadow: 0 0 3px blue;
}

.header-main__link {
	width: 110px;
	text-align: left;
	padding: 20px 0px 20px 40px;
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	line-height: 1.5;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.wrapper {
	overflow: hidden;
	max-width: 1440px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.page {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-x: clip;

}

/* ============================================= */
/* =============== EcoBazar    ================= */
/* ============================================= */

.shelf-vegetables {
	padding: 20px;
	background-color: #FFF;
}

.shelf-vegetables__card {
	width: 100%;
	max-width: 312px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	padding: 8px;
}

.shelf-vegetables__image img {
    width: 100%;
	height: 302px;
	object-fit: cover;
	margin: 3px 3px 0 0;
	border-radius: 8px;
}

.shelf-vegetables__title {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #4D4D4D;
	padding: 0 16px;
}

.shelf-vegetables__price {
    font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	font-weight: 500;
	color: #1A1A1A;
	padding: 0 16px;
}


[class*=figure] {
	width: 40px;
	height: 40px;
	color: #F2F2F2;
	background: url("../img/Container.svg") no-repeat center;
	position: relative;
	bottom: 33px;
	left: 230px;	
}

[class*=shopping] {
    width: 20px;
	height: 20px;
	color: #1A1A1A;;
	background: url("../img/Bag.svg") no-repeat center;
	position: relative;
	bottom: 29px;
	left: 196px;
	cursor: pointer;
}

.shelf-vegetables__rating {
	width: 260px;
	position: relative;
	bottom: 30px;
	left: 16px;
}

.shelf-vegetables__star,
.shelf-vegetables__star-grey {
	width: 12px;
	height: 12px;
	background: url("../img/Star1.svg") no-repeat center;
}

.shelf-vegetables__star-grey {
	background: url("../img/Star5.svg") no-repeat center;
}

/* ============================================= */
/* =============== Business decor main up_down elipse ================= */
/* ============================================= */

.section-business:before,
.section-business:after {
	position: absolute;
	left: -5%;
	width: 110%;
	height: 55px;

	content: "";
}

.section-business:before {
	top: 0;
	/* Радіус зверху */ 
	border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
	background-color: #FFF;
}

.section-business:after {
	bottom: 0;
	/* Радіус знизу */
	border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
	background-color: #231f8b;;
}

/* Нижня секція */ 
.section-dark {
	background-color: #231f8b;
	max-height: 100%;
}

/* ============================================= */
/* =============== Cards section ================= */
/* ============================================= */

.section-business {
	background-color: #5A54F2;
	position: relative;
	width: 1440px;
	min-height: 1200px;
}

.section-business__first-block {
	width: 100%;
	padding: 20px 0;
}

.section-business__image-one {
	width: 340px;
	height: 455px;
	padding: 10px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 200px;
}

.section-business__img {
	width: 330px;
	height: 438px;
    border-radius: 20px;
	box-shadow: 25px 20px 44px 0px rgba(84, 48, 209, 0.40);
	display: inline-block;
	position: relative;
	z-index: 6;
}

.section-business__text-block {
	width: 660px;
	min-height: 300px;
	display: inline-block;
	margin-left: 600px;
	padding: 100px 0;
	
}

.section-business__title {
	width: 660px;
    color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 13px;
}

.section-business__text {
	width: 480px;
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 18;
	font-weight: 400;
	margin-bottom: 39px;
}


/* ============================================= */
/* =============== Second card ================= */
/* ============================================= */ 

.section-business__second-block {
	width: 100%;
	padding: 40px 0;
}

.section-business__image-two {
	width: 340px;
	height: 440px;
	padding: 10px;
	display: inline-block;
	position: absolute;
	bottom: 25px;
	right: 200px;
}

.section-business__second-img {
	width: 330px;
	height: 438px;
	border-radius: 20px;
	box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
	display: inline-block;
	position: relative;
	z-index: 6;
}

.section-business__second-text-block {
    width: 520px;
	margin-left: 360px;
	padding: 20px 0;
}

.section-business__second-title {
    width: 520px;
    color: #FFF;
    display: inline-block;
    font-family: "Circular Std", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-business__second-text {
    width: 480px;
	color: #FFF;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 18;
	font-weight: 400;
	margin-bottom: 39px;
}


/* ============================================= */
/* =============== Button_container Block ================= */
/* ============================================= */

.section-business__button-container {
	padding: 10px 0;
}

.section-business__button-one,
.section-business__button-two {
    width: 256px;
	height: 64px;
	border-radius: 60px;
	background: #F35B09;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #FFF;
	border: none;
	cursor: pointer;
	position: relative;
}

.section-business__button-one:hover,
.section-business__button-two:hover {
	background-color: #f09e00;
	text-decoration: underline;
}
.section-business__button-text:active,
.section-business__button-two:active {
	background-color: blueviolet;

}

/* ============================================= */
/* =============== Element decor First_Section ================= */
/* ============================================= */

.section-business__decor {
	width: 600px;
	height: 500px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	
}

.section-business__circle--small {
	width: 65px;
	height: 65px;
	position: absolute;
	top: 127px;
	left: 93px;
}

.section-business__circle--big {
	width: 301px;
	height: 301px;
    position: absolute;
	top: 202px;
	left: 100px;
	z-index: 5;
}


.section-business__vertical-dots {
	width: 180px;
	height: 400px;
	position: absolute;
	top: 365px;
	left: 130px;
	display: grid;
	grid-template-columns: repeat(5, 8px);
	grid-template-rows: repeat(10, 8px);
	gap: 34.63px;
	z-index: 1;
}

.section-business__vertical-dots span {
	content: "";
	width: 7.047px;
	height: 7.047px;
	background-color: #70C217;
	border-radius: 50%;
	z-index: 1;
}


/* ============================================= */
/* =============== Element decor Second_Section ================= */
/* ============================================= */

.section-business__decor-second {
	width: 500px;
	height: 500px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.section-business__ellipse-small {
	width: 65px;
	height: 65px;
	position: absolute;
	bottom: 425px;
	right: 380px;
	z-index: 6;
}

.section-business__ellipse-big {
	position: absolute;
	bottom: 250px;
	right: 90px;
	z-index: 5;
}


.section-business__horizontal-dots {
	width: 140px;
	height: 190px;
	position: absolute;
	bottom: 100px;
	right: 65px;
	display: grid;
	grid-template-columns: repeat(4, 8px);
	grid-template-rows: repeat(5, 8px);
	gap: 34.63px;
	z-index: 1;
}

.section-business__horizontal-dots span {
	content: "";
	width: 7.047px;
	height: 7.047px;
	background-color: #70C217;
	border-radius: 50%;
}

/* ============================================= */
/* =============== Footer ================= */
/* ============================================= */

.footer {
	width: 100%;
	max-width: 1920px;
	height: 70px;
	box-sizing: border-box;
	margin: 20px 20px 20px 0px;
	padding: 20px;
	font-size: 22px;
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	color: #FFF;
	background: #5a54F2;
	border: 1px solid grey;
	box-shadow: #1207e6 0 0 3px;
}
